{% extends 'base.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <a href="{{ path('admin-category-form') }}" target="_blank" class="btn btn-primary" style="margin-bottom: 15px;">
        + Створити категорію
    </a>
    {% if th_keys|length %}
        <!-- Table -->
        <table id='telegramUserTable' class='display dataTable'>

            <thead>
            <tr>
                {% for th_key in th_keys %}
                    <th scope="col">{{ th_key }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tfoot>
            {% for th_key in th_keys %}
                <th scope="col">{{ th_key }}</th>
            {% endfor %}
            </tfoot>

        </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index/js/categories.min') }}

    <script defer>
        console.log('getJSonObject');
        function getJSonObject(value) {
            return $.parseJSON(value.replace(/&quot;/ig, '"'));
        }

        let th_keys = getJSonObject("{{ dataTableKeys ? dataTableKeys|json_encode() : "{}" }}");
        let for_prepare_defs = getJSonObject("{{ dataTableKeys ? dataTableKeys|json_encode() : "{}" }}");
    </script >

{% endblock %}

